.name{
  font-size: 20px;
  font-weight: 500;
  margin: 12px 16px;
}

.species{
  font-size: 14px;
  font-weight: 400;
  margin: 0 16px 16px;
  color: #00000099;
}

.card__list{
  max-width: 1020px;
  display: grid;
  grid-template: repeat(1, 1fr) / repeat(4, 23%);
  grid-auto-rows: auto;
  align-items: center;
  justify-content: space-between;
  row-gap: 30px;
  margin: 0 auto;
}
.card__list img{
  width: 100%;
  height: auto;
}
.card__item{
  height: 100%;
  overflow: hidden;
  border-radius: 4px;
  box-shadow: 0px 2px 4px 0px #00000024;
}
.container__nav{
  max-width: 1020px;
  display: grid;
  grid-template: 56px / repeat(4, 23%);
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;
  margin: 0 auto 61px;
  grid-auto-rows: auto;
  
}
.containet__navigation{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  height: 56px;
  border: 1px solid #000;
}
.containet__navigation input{
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loat__more{
  width: 154px;
  height: 36px;
  font-size: 14px;
  font-weight: 500;
  color: #2196F3;
  box-shadow: 0px 2px 4px 0px #00000024;
  margin: 62px auto 47px;
  border: none;
  outline: none;
  display: block;
}

@media (max-width:1050px){
  .container__nav{
    justify-content: center;
    column-gap: 10px;
  }
  .card__list{
    justify-content: center;
    column-gap: 10px;
  }
}
@media (max-width:950px){
  .container__nav{
    justify-content: center;
    column-gap: 10px;
  }
  .card__list{
    justify-content: center;
    column-gap: 10px;
  }
}
@media (max-width:850px){
  .container__nav{
    grid-template: repeat(1, 1fr) / repeat(2, 33%);
    row-gap: 12px;
  }
  .card__list{
    grid-template: repeat(1, 1fr) / repeat(3, 30%);
    row-gap: 21px;
    column-gap: 18px;
  }
}
@media (max-width:700px){
  .container__nav{
    grid-template: repeat(1, 1fr) / repeat(2, 44%);
    row-gap: 12px;
  }
  .card__list{
    grid-template: repeat(1, 1fr) / repeat(2, 44%);
    row-gap: 21px;
    column-gap: 18px;
  }
}

@media (max-width:500px){
  .container__nav{
    grid-template: repeat(1, 1fr) / repeat(1, 91%);
    margin-bottom: 42px;
  }
  .card__list{
    grid-template: repeat(1, 1fr) / repeat(1, 91%);
  }
  .name{
    font-size: 27px;
  }
  .species{
    font-size: 20px;
  }
}
@media (max-width:400px){
  .container__nav{
    grid-template: repeat(1, 1fr) / repeat(1, 78%);
    margin-bottom: 42px;
  }
  .card__list{
    grid-template: repeat(1, 1fr) / repeat(1, 78%);
  }
  .name{
    font-size: 22px;
  }
  .species{
    font-size: 16px;
  }
}

@media (max-width:350px){
  .container__nav{
    grid-template: repeat(1, 1fr) / repeat(1, 91%);
    margin-bottom: 42px;
  }
  .card__list{
    grid-template: repeat(1, 1fr) / repeat(1, 91%);
  }
  .name{
    font-size: 20px;
  }
  .species{
    font-size: 14px;
  }
}

