.card__episodes_item{
  border: 1px solid #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.card__list{
  display: grid;
  grid-template: repeat(1, 1fr) / repeat(4, 20%);
}