.information__text{
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 92%;
  padding: 15px 0 15px;
  border-bottom: 1px solid rgb(162, 159, 255);
}
.name{
  font-size: 16px;
  font-weight: 700;
}
.info{
  font-size: 14px;
  font-weight: 400;
  color: #6E798C;
}
.info_text{
  display: flex;
  row-gap: 6px;
  flex-direction: column;
}